# 3. Machine Learning for Classification

We'll use logistic regression to predict churn


## 3.1 Churn prediction project

* Dataset: https://www.kaggle.com/blastchar/telco-customer-churn
* https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv

## 3.2 Data preparation

* Download the data, read it with pandas
* Look at the data
* Make column names and values look uniform
* Check if all the columns read correctly
* Check if the churn variable needs any preparation

In [6]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv'

In [3]:
!wget $data -O data-week-3.csv

--2024-11-13 08:51:56--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8000::154, 2606:50c0:8001::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8000::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 977501 (955K) [text/plain]
Saving to: ‘data-week-3.csv’

data-week-3.csv     100%[===================>] 954,59K  --.-KB/s    in 0,1s

2024-11-13 08:51:57 (9,77 MB/s) - ‘data-week-3.csv’ saved [977501/977501]

In [7]:
df = pd.read_csv('data-week-3.csv')
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [8]:
df.head().T

                                 0  ...                 4
customerID              7590-VHVEG  ...        9237-HQITU
gender                      Female  ...            Female
SeniorCitizen                    0  ...                 0
Partner                        Yes  ...                No
Dependents                      No  ...                No
tenure                           1  ...                 2
PhoneService                    No  ...               Yes
MultipleLines     No phone service  ...                No
InternetService                DSL  ...       Fiber optic
OnlineSecurity                  No  ...                No
OnlineBackup                   Yes  ...                No
DeviceProtection                No  ...                No
TechSupport                     No  ...                No
StreamingTV                     No  ...                No
StreamingMovies                 No  ...                No
Contract            Month-to-month  ...    Month-to-month
PaperlessBilling               Yes  ...               Yes
PaymentMethod     Electronic check  ...  Electronic check
MonthlyCharges               29.85  ...              70.7
TotalCharges                 29.85  ...            151.65
Churn                           No  ...               Yes

[21 rows x 5 columns]

In [9]:
df.dtypes[df.dtypes == 'object']

customerID          object
gender              object
Partner             object
Dependents          object
PhoneService        object
MultipleLines       object
InternetService     object
OnlineSecurity      object
OnlineBackup        object
DeviceProtection    object
TechSupport         object
StreamingTV         object
StreamingMovies     object
Contract            object
PaperlessBilling    object
PaymentMethod       object
TotalCharges        object
Churn               object
dtype: object

In [10]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [11]:
df.head().T

                                 0  ...                 4
customerid              7590-vhveg  ...        9237-hqitu
gender                      female  ...            female
seniorcitizen                    0  ...                 0
partner                        yes  ...                no
dependents                      no  ...                no
tenure                           1  ...                 2
phoneservice                    no  ...               yes
multiplelines     no_phone_service  ...                no
internetservice                dsl  ...       fiber_optic
onlinesecurity                  no  ...                no
onlinebackup                   yes  ...                no
deviceprotection                no  ...                no
techsupport                     no  ...                no
streamingtv                     no  ...                no
streamingmovies                 no  ...                no
contract            month-to-month  ...    month-to-month
paperlessbilling               yes  ...               yes
paymentmethod     electronic_check  ...  electronic_check
monthlycharges               29.85  ...              70.7
totalcharges                 29.85  ...            151.65
churn                           no  ...               yes

[21 rows x 5 columns]

`totalcharges` should be float, however it has object type

=> there are some values are not number

=> check for those cases & transfer them to number

In [12]:
tc = pd.to_numeric(df.totalcharges, errors='coerce')

In [13]:
tc.isnull().sum()

11

In [14]:
df[tc.isnull()][['customerid', 'totalcharges']]

      customerid totalcharges
488   4472-lvygi            _
753   3115-czmzd            _
936   5709-lvoeq            _
1082  4367-nuyao            _
1340  1371-dwpaz            _
3331  7644-omvmy            _
3826  3213-vvolg            _
4380  2520-sgtta            _
5218  2923-arzlg            _
6670  4075-wkniu            _
6754  2775-sefee            _

In [15]:
df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce')
df.totalcharges = df.totalcharges.fillna(0)

convert `churn` column

In [16]:
df.churn.head()

0     no
1     no
2    yes
3     no
4    yes
Name: churn, dtype: object

In [17]:
df.churn = (df.churn == 'yes').astype(int)

In [18]:
df.head().T

                                 0  ...                 4
customerid              7590-vhveg  ...        9237-hqitu
gender                      female  ...            female
seniorcitizen                    0  ...                 0
partner                        yes  ...                no
dependents                      no  ...                no
tenure                           1  ...                 2
phoneservice                    no  ...               yes
multiplelines     no_phone_service  ...                no
internetservice                dsl  ...       fiber_optic
onlinesecurity                  no  ...                no
onlinebackup                   yes  ...                no
deviceprotection                no  ...                no
techsupport                     no  ...                no
streamingtv                     no  ...                no
streamingmovies                 no  ...                no
contract            month-to-month  ...    month-to-month
paperlessbilling               yes  ...               yes
paymentmethod     electronic_check  ...  electronic_check
monthlycharges               29.85  ...              70.7
totalcharges                 29.85  ...            151.65
churn                            0  ...                 1

[21 rows x 5 columns]

# 3.3 Setting up the validation framework

- Perform the train/validation/test split with scikit-learn

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
# see documentation for this function
train_test_split?

Signature:
train_test_split(
    *arrays,
    test_size=None,
    train_size=None,
    random_state=None,
    shuffle=True,
    stratify=None,
)
Docstring:
Split arrays or matrices into random train and test subsets.

Quick utility that wraps input validation,
``next(ShuffleSplit().split(X, y))``, and application to input data
into a single call for splitting (and optionally subsampling) data into a
one-liner.

Read more in the :ref:`User Guide <cross_validation>`.

Parameters
----------
*arrays : sequence of indexables with same length / shape[0]
    Allowed inputs are lists, numpy arrays, scipy-sparse
    matrices or pandas dataframes.

test_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the proportion
    of the dataset to include in the test split. If int, represents the
    absolute number of test samples. If None, the value is set to the
    complement of the train size. If ``train_size`` is also None, it will
    be set to 0.25.

train_size : float or int, default=None
    If float, should be between 0.0 and 1.0 and represent the
    proportion of the dataset to include in the train split. If
    int, represents the absolute number of train samples. If None,
    the value is automatically set to the complement of the test size.

random_state : int, RandomState instance or None, default=None
    Controls the shuffling applied to the data before applying the split.
    Pass an int for reproducible output across multiple function calls.
    See :term:`Glossary <random_state>`.

shuffle : bool, default=True
    Whether or not to shuffle the data before splitting. If shuffle=False
    then stratify must be None.

stratify : array-like, default=None
    If not None, data is split in a stratified fashion, using this as
    the class labels.
    Read more in the :ref:`User Guide <stratification>`.

Returns
-------
splitting : list, length=2 * len(arrays)
    List containing train-test split of inputs.

    .. versionadded:: 0.16
        If the input is sparse, the output will be a
        ``scipy.sparse.csr_matrix``. Else, output type is the same as the
        input type.

Examples
--------
>>> import numpy as np
>>> from sklearn.model_selection import train_test_split
>>> X, y = np.arange(10).reshape((5, 2)), range(5)
>>> X
array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])
>>> list(y)
[0, 1, 2, 3, 4]

>>> X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)
...
>>> X_train
array([[4, 5],
       [0, 1],
       [6, 7]])
>>> y_train
[2, 0, 3]
>>> X_test
array([[2, 3],
       [8, 9]])
>>> y_test
[1, 4]

>>> train_test_split(y, shuffle=False)
[[0, 1, 2], [3, 4]]
File:      /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/model_selection/_split.py
Type:      function

In [21]:
# Split training/testing dataset
# set random_state to get specific random numbers when re-run cel
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [22]:
len(df_full_train), len(df_test)

(5634, 1409)

In [23]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [24]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [25]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train['churn'].values
y_val = df_val['churn'].values
y_test = df_test['churn'].values

In [26]:
del df_train['churn']
del df_val['churn']
del df_test['churn']

In [29]:
df_train.head()

   customerid  gender  ...  monthlycharges totalcharges
0  8015-ihcgw  female  ...          115.50      8425.15
1  1960-uycnn    male  ...           95.25      1021.55
2  9250-wypll  female  ...           75.55       413.65
3  6786-obwqr  female  ...           80.85       356.10
4  1328-euzhc  female  ...           20.10       370.50

[5 rows x 20 columns]

# 3.4 EDA

- Check missing value
- Look at the target variable (churn)
- Look at numerical and categorical variables